/*start main rules*/
body {
  background-color: #eee;
}
/*end main rules*/
/* start footer */
.footer {
  background-color: #333;
  color: #eee;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* end footer  */
/* start posts  */
.container {
  margin-bottom: 80px;
}
.main-post {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
.main-post h3 {
  color: #777;
  margin: 0 0 10px;
  font-weight: bold;
  letter-spacing: -1px;
}
.main-post .post-author,
.main-post .post-date,
.main-post .post-comments {
  font-size: 12px;
}
.main-post img {
  display: block;
  margin: 10px 0 10px;
}
.main-post .post-content {
  line-height: 1.7;
  color: #888;
}
.post-pagination {
  margin: 20px auto 30px;
  width: 400px;
  text-align: center;
}

.post-pagination a,
.post-pagination span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.post-pagination a:first-of-type {
  margin-right: 10px;
}
.post-pagination a:hover {
  background-color: #333;
  color: #fff;
  text-decoration: none;
}
.post-pagination span {
  opacity: 0.5;
  cursor: not-allowed;
}
.post-pagination .previous-span {
  margin-right: 10px;
}

/* end posts  */
