/*start main rules*/
body {
  background-color: #eee;
}
/*end main rules*/
/* start footer */
.footer {
  background-color: #333;
  color: #eee;
  padding: 20px;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
}
/* end footer  */
/* start main posts  */
.home-page .main-post {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
.home-page .main-post h3 {
  color: #777;
  margin: 0 0 10px;
  font-weight: bold;
  letter-spacing: -1px;
}
.home-page .main-post .post-author,
.home-page .main-post .post-date,
.home-page .main-post .post-comments {
  font-size: 12px;
}
.home-page .main-post img {
  display: block;
  margin: 10px 0 10px;
}
.home-page .main-post .post-content {
  line-height: 1.7;
  color: #888;
}
.home-page .post-pagination {
  margin: 20px auto 30px;
  width: 400px;
  text-align: center;
}

.home-page .post-pagination a,
.home-page .post-pagination span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.home-page .post-pagination a:first-of-type {
  margin-right: 10px;
}
.home-page .post-pagination a:hover {
  background-color: #333;
  color: #fff;
  text-decoration: none;
}
.home-page .post-pagination span {
  opacity: 0.5;
  cursor: not-allowed;
}
.home-page .post-pagination .previous-span {
  margin-right: 10px;
}

/* end main posts  */
/* start single post */
.post-page .main-post {
  position: relative;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
.post-page .single-post .post-edit-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #eee;
  border-radius: 0 0 0 10px;
}
.post-page .single-post .post-edit-link svg {
  color: #337ab7;
  margin-left: 5px;
}

.post-page .main-post h3 {
  color: #777;
  margin: 0 0 10px;
  font-weight: bold;
  letter-spacing: -1px;
}
.post-page .main-post .post-author,
.post-page .main-post .post-date,
.post-page .main-post .post-comments {
  font-size: 12px;
}
.post-page .main-post img {
  display: block;
  margin: 10px 0 10px;
}
.post-page .main-post .post-content {
  line-height: 1.8;
  color: #888;
}
.post-page .post-pagination {
  margin: 20px auto 30px;
  width: 400px;
  text-align: center;
}

.post-page .post-pagination a,
.post-page .post-pagination span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.post-page .post-pagination a:first-of-type {
  margin-right: 10px;
}
.post-page .post-pagination a:hover {
  background-color: #333;
  color: #fff;
  text-decoration: none;
}
.post-page .post-pagination span {
  opacity: 0.5;
  cursor: not-allowed;
}
.post-page .post-pagination .previous-span {
  margin-right: 10px;
}

/* end single post */
